<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.client.dao.ClientMapper">
    <!-- 거래처 목록 -->
    <select id="selectClientList" resultType="kr.spring.client.vo.ClientVO">
        SELECT * FROM client ORDER BY client_num DESC
    </select>
    <!-- 거래처 단건 조회 -->
    <select id="selectClient" parameterType="long" resultType="kr.spring.client.vo.ClientVO">
        SELECT * FROM client WHERE client_num = #{client_num}
    </select>
    <!-- 거래처 등록 -->
    <insert id="insertClient" parameterType="kr.spring.client.vo.ClientVO">
        INSERT INTO client (client_num, client_name, client_type, contact_person, phone, email, address1, address2)
        VALUES (client_seq.nextval, #{client_name}, #{client_type}, #{contact_person}, #{phone}, #{email}, #{address1}, #{address2})
    </insert>
    <!-- 거래처 수정 -->
    <update id="updateClient" parameterType="kr.spring.client.vo.ClientVO">
        UPDATE client SET client_name=#{client_name}, client_type=#{client_type}, contact_person=#{contact_person}, phone=#{phone}, email=#{email}, address1=#{address1}, address2=#{address2}
        WHERE client_num=#{client_num}
    </update>
    <!-- 거래처 삭제 -->
    <delete id="deleteClient" parameterType="long">
        DELETE FROM client WHERE client_num=#{client_num}
    </delete>
    <select id="selectClientSalesStats" resultType="map">
        SELECT c.client_num, c.client_name AS name, 
               COALESCE(SUM(d.quantity * d.unit_price), 0) AS sales
        FROM client c
        LEFT JOIN sales_order s ON c.client_num = s.customer_num
        LEFT JOIN sales_order_detail d ON s.sales_order_num = d.sales_order_num
        WHERE c.client_type = 1
        GROUP BY c.client_num, c.client_name
        ORDER BY sales DESC
    </select>
</mapper>