<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.attendance.dao.AttendanceMapper">
	<resultMap type="AttendanceVO" id ="attendanceMap" >
		<result property="attendanceId" column="attendance_id"/>
		<result property="empId" column="emp_id"/>
		<result property="workDate" column="work_date"/>
		<result property="checkIntime" column="check_in_time"/>
		<result property="checkOuttime" column="check_out_time"/>
		<result property="status" column="status"/>
		<result property="notes" column="notes"/>
		<result property="empName" column="user_name"/>	
	</resultMap>
	
	<!-- 근태 등록 -->
<insert id="insertAttendance" parameterType="kr.spring.attendance.vo.AttendanceVO">	
	INSERT INTO attendance(
		attendance_id, 
		emp_id,
		work_date,
		scheduled_in_time,
		scheduled_out_time,
		status,
		work_type,
		check_in_time,
		check_out_time,
		notes,
		created_at,
		updated_at)
	VALUES (
		attendance_seq.nextval,
		#{empId},
		#{workDate},
		TO_CHAR(SYSDATE, 'YYYY-MM-DD') || ' 09:00',
        TO_CHAR(SYSDATE, 'YYYY-MM-DD') || ' 18:00',
		#{status},
		#{workType},
		#{checkIntime},
		#{checkOuttime},
		#{notes, jdbcType=VARCHAR},
		SYSDATE,
		SYSDATE)
	</insert>
	
	<!-- 근태 목록 -->
	<select id ="selectAttendanceList" parameterType = "long" resultMap = "attendanceMap">
	  SELECT 
        d.user_name, 
        a.*
    FROM attendance a
    JOIN euser_detail d ON d.user_num = a.emp_id
    WHERE a.emp_id = #{empId}
    ORDER BY a.attendance_id ASC
	</select>
	
	<!-- 근태 목록 검색/조회 -->
	<select id="AttendanceSelectList" parameterType="kr.spring.attendance.vo.SearchVO" resultType="kr.spring.attendance.vo.AttendanceVO">
	SELECT
	d.user_name AS empName,
	a.work_date AS workDate, 
	a.status,
	a.check_in_time AS checkIntime, 
	a.check_out_time AS checkOuttime,
	a.notes
	FROM attendance a
	JOIN euser_detail d ON d.user_num = a.emp_id
	<where>
		<if test="empId != null">
			AND a.emp_id = #{empId}
		</if>
		<if test="startDate != null and startDate != ''">
			AND a.work_date <![CDATA[ >= ]]>#{startDate}
		</if>
		<if test="endDate != null and endDate != ''">
			AND a.work_date <![CDATA[ <= ]]> #{endDate}
		</if>
		<if test="empName != null and empName != ''">
			AND d.user_name LIKE '%' || #{empName} || '%'
		</if>
		<if test="status != null and status != ''">
			AND a.status = #{status}
		</if>
	</where>
	ORDER BY a.attendance_id ASC
</select>
	
	<!-- 근태 목록 상세 -->
	<select id = "selectAttendance" parameterType="long" resultMap = "attendanceMap">
	SELECT *
	FROM attendance a 
	JOIN euser e ON a.emp_id = e.user_num
	WHERE attendance_id=#{attendanceId}
	</select>
	
	<!-- 근태 목록 수정 -->
	<update id="updateAttendance" parameterType="attendanceVO">
		UPDATE attendance 
		SET
			check_out_time=#{checkOuttime},
			status=#{status},
			notes=#{notes}
		WHERE
			attendance_id=#{attendanceId}	
	</update>
	
	
	
</mapper>
