<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.attendance.dao.AttendanceMapper">
	<!-- 근태 등록 -->
<insert id="insertAttendance" parameterType="kr.spring.attendance.vo.AttendanceVO">
	INSERT INTO attendance(
		attendance_id, 
		emp_id,
		work_date,
		scheduled_in_time,
		scheduled_out_time,
		status,
		work_type,
		check_in_time,
		check_out_time,
		notes,
		created_at,
		updated_at)
	VALUES (
		attendance_seq.nextval,
		#{empId},
		#{workDate},
		TO_CHAR(SYSDATE, 'YYYY-MM-DD') || ' 09:00',
        TO_CHAR(SYSDATE, 'YYYY-MM-DD') || ' 18:00',
		#{status},
		#{workType},
		#{checkIntime},
		#{checkOuttime},
		#{notes},
		SYSDATE,
		SYSDATE)
	</insert>
</mapper>
