<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<!-- 상단 시작 -->
<th:block th:fragment="header">
	<div class="menu-title">
		<h2 class="site-logo" sec:authorize="!isAuthenticated() || principal.memberVO.authorityOrdinal < 3">
			<a th:href="@{/main/main}">SpringPage</a>
		</h2>
		<h2 class="site-logo" sec:authorize="hasAuthority('ROLE_ADMIN')">
			<a th:href="@{/main/admin}">SpringPage(관리자 전용)</a>
		</h2>
	</div>
	<div class="menu-login">
		<!--/* 사용자 로그인 영역 */-->
		<th:block sec:authorize="isAuthenticated()">
			<div class="menu-item">
				<a th:href="@{/member/myPage}"><img th:src="@{/assets/images/mypage.png}" width="20" height="20">MY페이지</a>
			</div>
			<div class="menu-item">
				<img alt="프사" th:src="@{/member/photoView}" width="20" height="20" class="my-photo">
				<span class="user-name" th:text="${#authentication.principal.memberVO.userName}"></span>
			</div>
			<div class="menu-item">
				<a href="#" id="logout"><img th:src="@{/assets/images/logout.png}" width="20" height="20">로그아웃</a>
				<!--/* 폼을 만들고 post 방식으로 전달해야 스프링 시큐리티가 지원하는 로그아웃 기능 사용 */-->
				<form th:action="@{/member/logout}" method="post" style="display:none;" id="frm_logout"></form>
				<script type="text/javascript">
					const logout = document.getElementById('logout');
					logout.onclick=function(event){
						document.getElementById('frm_logout').submit();
						event.preventDefault();
					}
				</script>
			</div>
		</th:block>
		<!--/* 사용자 비로그인 영역 */-->
		<th:block sec:authorize="!isAuthenticated()">
			<div class="menu-item">
				<a th:href="@{/member/registerUser}">회원가입</a>
			</div>
			<div class="menu-item">
				<a th:href="@{/member/login}"><img th:src="@{/assets/images/login.png}" width="20" height="20">로그인</a>
			</div>
		</th:block>
	</div>
	<div class="menu-list">
		<th:block>
			<div class="menu-main-item"><a th:href="@{/board/list}">게시판</a></div>
		</th:block>
	</div>
</th:block>
<!-- 상단 끝 -->
</html>












































