<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="csrf-header" th:content="${_csrf.headerName}">
<meta name="csrf-token" th:content="${_csrf.token}">
<title layout:title-pattern="$LAYOUT_TITLE > $CONTENT_TITLE">SpringPage</title>
<link rel="stylesheet" th:href="@{/assets/css/common.css}" type="text/css">
<link rel="stylesheet" th:href="@{/assets/css/member.css}" type="text/css">
<script type="text/javascript" th:src="@{/assets/js/jquery-3.7.1.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/customjs.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/member.profile.js}"></script>
</head>
<body>
<div id="main">
	<!-- header 시작 -->
	<div id="main_header" th:insert="fragments/header::header"></div>
	<!-- header 끝 -->
	<div class="side-height">
		<!-- MY페이지 네비게이션 시작 -->
		<div id="page_nav" th:insert="fragments/nav_mypage::nav_mypage"></div>
		<!-- MY페이지 네비게이션 끝 -->
		<!-- 중앙 컨텐트 시작 -->
		<div id="page_body" layout:fragment="content"></div>
		<!-- 중앙 컨텐트 끝 -->
	</div>
	<!-- footer 시작 -->
	<div id="main_footer" class="page-clear" th:insert="fragments/footer::footer"></div>
	<!-- footer 끝 -->
</div>
<script src="/assets/js/worktime.js"></script>
</body>
</html>










































