<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout_basic}">
<head>
<meta charset="UTF-8">
<title>Office ERP - 대시보드</title>
</head>
<body>
<div layout:fragment="content" class="page-main">
	<div class="dashboard-wrapper">
		<!-- 사이드바 -->
		<th:block th:replace="fragments/nav_sidebar :: sidebar"></th:block>

		<!-- 메인 컨텐츠 -->
		<main class="main-content">
			<!-- header/footer 비움 -->
			<div class="main-header"></div>
			<section class="notice-section">
				<h3>공지사항</h3>
				<table class="notice-table">
					<thead>
						<tr>
							<th>구분</th>
							<th>제목</th>
							<th>날짜</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><span class="important">중요공지</span></td>
							<td>Office ERP 서버 점검 안내 (7/28)</td>
							<td>2025-07-21</td>
							<td><button class="notice-detail-btn">+</button></td>
						</tr>
						<tr>
							<td><span class="important">중요공지</span></td>
							<td>Office ERP 서버 점검 안내 (7/28)</td>
							<td>2025-07-21</td>
							<td><button class="notice-detail-btn">+</button></td>
						</tr>
						<tr>
							<td><span class="important">중요공지</span></td>
							<td>Office ERP 서버 점검 안내 (7/28)</td>
							<td>2025-07-21</td>
							<td><button class="notice-detail-btn">+</button></td>
						</tr>
						<tr>
							<td><span class="important">중요공지</span></td>
							<td>Office ERP 서버 점검 안내 (7/28)</td>
							<td>2025-07-21</td>
							<td><button class="notice-detail-btn">+</button></td>
						</tr>
					</tbody>
				</table>
			</section>
		</main>
	</div>
</div>
</body>
</html>