<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout_basic}">
<head>
<meta charset="UTF-8">
<title>비밀번호 변경</title>
<link rel="stylesheet" th:href="@{/assets/css/member.css}">
<script type="text/javascript" th:src="@{/assets/js/jquery-3.7.1.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/member.password.js}"></script>
</head>
<body>
<div layout:fragment="content" class="page-main">
	<h2>비밀번호 변경</h2>
	<div>
		비밀번호를 분실하셨나요?<br>
		가입할 때 사용한 아이디와 이메일을 입력하시면<br>
		이메일로 임시비밀번호를 보내드립니다.<br><br>
	</div>
	<form th:object="${memberVO}" id="member_change" action="changePassword" method="post">
		<ul>
			<li>
				<label for="now_passwd">현재 비밀번호</label>
				<input type="text" th:field="*{now_passwd}" th:errorclass="field-error">
				<span th:errors="*{now_passwd}" class="error-color"></span>
			</li>
			<li>
				<label for="passwd">새비밀번호</label>
				<input type="text" th:field="*{passwd}" th:errorclass="field-error">
				<span th:errors="*{passwd}" class="error-color"></span>
			</li>
			<li>
				<label for="confirm_passwd">새비밀번호 확인</label>
				<input type="text" th:field="*{confirm_passwd}" th:errorclass="field-error">
				<span th:errors="*{confirm_passwd}" class="error-color"></span>
			</li>
		</ul>
		<div class="align-center">
			<input type="submit" value="전송">
			<input type="button" value="홈으로" th:onclick="|location.href='@{/main/main}'|">
		</div>
	</form>
</div>
</body>
</html>











































