<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout_basic}">
<head>
<meta charset="UTF-8">
<title>비밀번호 변경</title>
<link rel="stylesheet" th:href="@{/assets/css/main.css}">
<link rel="stylesheet" th:href="@{/assets/css/member.css}">
<script type="text/javascript" th:src="@{/assets/js/jquery-3.7.1.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/member.password.js}"></script>
</head>
<body>
<div layout:fragment="content" class="page-main">
	<div class="dashboard-wrapper">
		<th:block th:replace="fragments/nav_sidebar :: sidebar" />
		<div class="mypage-container">
			<h2>비밀번호 변경</h2>
			<form th:object="${memberVO}" id="member_change"
				th:action="@{changePassword}" method="post">
				<ul>
					<li><label for="now_passwd">현재 비밀번호</label> <input
						type="password" th:field="*{now_passwd}"
						th:errorclass="field-color"> <span
						th:errors="*{now_passwd}" class="error-color"></span></li>
					<li><label for="passwd">새비밀번호</label> <input type="password"
						th:field="*{passwd}" th:errorclass="field-color"> <span
						th:errors="*{passwd}" class="error-color"></span></li>
					<li><label for="confirm_passwd">새비밀번호 확인</label> <input
						type="password" id="confirm_passwd"> <span
						id="message_password"></span></li>
				</ul>
				<div class="align-center">
					<input type="submit" value="전송"> <input type="button"
						value="홈으로" th:onclick="|location.href='@{/main/main}'|">
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>











































