<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.chat.dao.ChatRoomMapper">
	<resultMap type="chatRoomVO" id="chatRoomMap">
		<result property="memberVO.user_num" column="user_num"/>
	</resultMap>
	
	<!-- 채팅 방 생성 -->
	<insert id="insertRoom" parameterType="chatRoomVO">
		INSERT INTO chat_room (
			room_num,
			room_name,
			room_type,
			created_by,
			max_members)
		VALUES (
			chat_room_seq.nextval,
			#{room_name},
			#{room_type},
			#{created_by},
			#{max_members})
	</insert>
</mapper>


































